.feature__faculty-spotlight {
  margin: 40px 0;
  background-color: rgba(128, 128, 128, 0.2);
}

.basic-story__social-share__title, .basic-story__byline__name, .basic-story__byline__label {
  font-size: 14px;
}
.basic-story {
  overflow: hidden;
}

.hideCap{
  display: block;
  margin: 0px 0 5%;
}

.hideCap2{
  display: none;
}

.noWrap{
  white-space: nowrap;
}



.quote {
  width: 60%;
}

.basic-story__story-qoute__qoute span{
  white-space: nowrap;
}

.feature__faculty-spotlight__wrapper {
  min-height: 300px;
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.feature__faculty-spotlight__item {
  width: 85%;
  height: auto;
}

.feature__faculty-spotlight__item p {
  text-align: left;
  font-size: .9em;
  margin: -1% 0;
}

.feature__faculty-spotlight__image-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 4% 0 0;
  float: left;
}

.basic-story__story-qoute__qoutation-mark__horizontal-line--top, .basic-story__story-qoute__qoutation-mark__horizontal-line--bottom, .basic-story__story-qoute__qoutation-mark__horizontal-line--top{
  width: 870px;
}



.feature__faculty-spotlight__name {
  font-weight: bold;
  margin: 15px 0;
}

.feature__faculty-spotlight__image-wrapper img {
  height: 180px;
  margin-top: -25px;
}

.basic-story__hero {
  display: inline-block;
  position: relative;
}

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
}

.features__hero__overlay {
  width: 40%;
  color: #000;
  position: absolute;
  right: 10%;
  bottom: 50%;
}

.features__hero__overlay h1{
  font-size: 2.5em;
}

.basic-story__content__department-label {
  color: #000;

}

.topText {
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: 'Benton Sans Reg', sans-serif;
}


@media (max-width:900px) {

  .features__hero__overlay{
    position: unset;
    width: 95%;
    margin: 1% auto;
    max-width: 608px;
  }

 
  .features__hero__title {
    font-size: 1.5em;
  }

  

  .basic-story__by-line {
    float: none;
    height: auto;
  }

  .basic-story__social-share {
    margin: 0 0 8%;
    float: right;
  }

  .topText {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .feature__faculty-spotlight__image-wrapper img {
    margin-top: 3%;
    margin-left: -4%;
}


.basic-story__story-qoute__qoutation-mark__horizontal-line--top, .basic-story__story-qoute__qoutation-mark__horizontal-line--bottom, .basic-story__story-qoute__qoutation-mark__horizontal-line--top {
  width: 100%;
}
  .feature__faculty-spotlight__image-wrapper {
    height: 150px;
    width: 95%;
    border-radius: 50%;
    margin: 0 8% 0 0;
    float: left;
  }
  
  .feature__faculty-spotlight__item {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
  
  }

  
  .features__hero__title {
    font-size: .8em;
    width: 85%;
  }

  .basic-story__content__wrapper {
    width: 95%;
  }

  .basic-story__hero-wrapper {
    height: auto;
  }


 
  .basic-story__story-qoute__qoutation-mark__horizontal-line--top {
    width: 100%;
  }

  .features__hero__title {
    margin: 0;
}

.feature__faculty-spotlight__item p {
  margin: 17% 0 7%;

}

.features__hero__overlay h1 {
  font-size: .8em;
}
}

@media (min-width:731px) {
  .features__hero__overlay {
    width: 85%;
}

}

@media (min-width:800px) {
  .features__hero__overlay {
    width: 75%;
}
.basic-story__by-line {
  margin-left: 0;
}
}



@media only screen and (min-width : 500px) and (max-width : 900px) {
 

  .basic-story__hero__image {
    height: auto;
  }

  .features__hero__overlay {
    bottom: 0;
  }


  .basic-story__content {
    width: 95%;
  }


  .basic-story__content__story__p {
    padding: .8em 0;
  }

 

  .basic-story__social-share {
    float: right;
    margin: 0;
  }

  

  .basic-story__story-qoute__qoute{
    font-size: 1.7em;
  }

  .features__hero__overlay h1 {
    font-size: 2em;
}


}

@media (min-width:900px) {
  .basic-story__content__department-label {
    font-size: .9em;
  }

  .hideCap{
    display: none;
  }

  .features__hero__title {
    font-size: 3em;
  }

 

  .basic-story__story-qoute__qoute {
    font-size: 2em;

  }

  .features__hero__overlay {
    bottom: 20%;
    left: 40%;
    font-size: 1em;
  }


}

@media only screen and (min-device-width : 600px) and (max-device-width : 858px) {
  .features__hero__title {
    font-size: 1em;
  }

}

@media only screen and (min-width : 900px) {
  .features__hero__title {
    font-size: 2em;
  }

  .features__hero__overlay {
    top: 20%;
    width: 50%;
  }
  .hideCap2{
    display: block;
    margin: 0;
  }
}

@media only screen and (min-width : 1300px) {
  .features__hero__overlay {
    font-size: 1em;
  }

  .features__hero__overlay {
    bottom: 40%;
    left: 40%;
    width: 40%;
}
.basic-story__by-line {
margin:0;
}

  .features__hero__title {
    font-size: 3em;
  }
}

@media (max-width:640px) {
  .features__hero__overlay h1 {
    font-size: 1.5em;
}
}



@media only screen and (max-width: 640px) and (min-width: 300px){
.basic-story__content {
    width: 100%;
}
}

@media only screen and (max-width: 1024px) and (min-width: 1000px){
  .features__hero__overlay {
    right: -10%;
  }
}


@media (max-width: 900px){
  .basic-story__aside {
    display: block;
    margin: 3% auto;
    max-width: 608px;
    width: 95%;
  }
  }