.feature__faculty-spotlight__image-wrapper img{
  height: 125px;
}

.feature__hero__image{
  width:50%;
  float:left;
  
}

.smaller{
  font-size: .7em;
  margin: 0 auto;
  left:0;
  width: 100%;
}

 .hero-wrapper{
  display: block;
  clear: both;
  height: 50vh;
  width: 100%;
} 

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
}

.features__hero__overlay {
  width: 30%;
    color: #000;
    margin: -21% 0 0 13%;
    float: left;
}

}
.feature__content__image-caption--portrait {
  width: 98% !important;
  font-size:.8em;
}

.feature__content__image-caption {
float:none;
}

.feature__dropcap {
padding-bottom:5px;
}

@media (min-width: 900px) {

.features__hero__title {
  font-size: 2em;
  }

  
}

@media (max-width:640px){
  .features__hero__overlay {
    margin: -180% 0 0 13%;
    width: 90%;
}


.feature__content__story, .feature__content, .feature__hero__image, .feature__faculty-spotlight__item{
  width: 100%;
}

.feature__faculty-spotlight__item {
  margin: 7%;
}

.topper{
  margin: 23em auto 0
}


.feature__social-share {
  margin: -5em 9em 0 0;
}
}

@media (max-height:411px){
.features__hero__overlay {
  top: 0%;
}
}

@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 850px) {
 
h1{
  font-size:1em;
}

.feature__content__story, .feature__content,  .feature__faculty-spotlight__item{
  width: 100%;
}

.feature__content__image-wrapper {
  margin: 1em auto 1em;
}

}