.feature__faculty-spotlight__image-wrapper img{
  height: 125px;
}

.feature__hero__image{
  width:50%;
  float:left;
  
}

 .hero-wrapper{

  display: block;
  clear: both;
  height: 50vh;
  width: 100%;
} 

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
}

.features__hero__overlay {
  width: 30%;
    color: #000;
    margin: -21% 0 0 13%;
    float: left;
}

}
.feature__content__image-caption--portrait {
  width: 98% !important;
}

.feature__content__image-caption {
float:none;
}

.smaller{
  position: relative;
  left: -6em;
  font-size: .9em;
  font-style: italic;
  width: 14%;
  float:right;
}

.feature__dropcap {
padding-bottom:5px;
}

@media (min-width: 900px) {

.features__hero__title {
  font-size: 50px;
  }

  
}

@media (max-width:640px){
  .features__hero__overlay {
    margin: -180% 0 0 13%;
    width: 90%;
}

.feature__hero__image {
  width: 100%;
}

.feature__faculty-spotlight__item {
  width: 100%;
  margin: 7%;
}

.topper{
  margin: 292px auto 0;
}

.smaller {
  position: relative;
  left: 0;
  font-size: .9em;
  font-style: italic;
  width: 90%;
  float: right;
  /* margin: 0 auto; */
  padding: 0 2%;
}
.feature__social-share {
  margin: -40px 100px 0 0;
}
}

@media (max-height:411px){
.features__hero__overlay {
  top: 0%;
}
}

@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 850px) {
  .smaller {
    width: 60%;
    float: none;
  }
}
