
*.psd
root-folder/stories/basic-story/css/basic-story_old.css
root-folder/stories/basic-story/ryans/ryans_new.css
root-folder/stories/basic-story/ryans/ryans_new.html
root-folder/stories/basic-story/ryans/ryans_old.css
root-folder/stories/basic-story/ryans/ryans_old.html
root-folder/stories/basic-story/ryans/ryans_2.html
root-folder/stories/basic-story/pandemic/pandemic_old.html
root-folder/stories/basic-story/pandemic/pandemic2.html
root-folder/stories/basic-story/teleheatlth/telehealth_old.html
root-folder/stories/basic-story/teleheatlth/telehealth_old.html
root-folder/stories/basic-story/teleheatlth/telehealth2.html
