.feature__hero__image {
  height: auto;
  width: 50%;
  object-fit: cover;
}

.feature__hero{
  position: relative;
}

.topNames, .bottomNames{
  position: absolute;
  color: #000;
  font-family: 'Benton Sans Reg';
  font-weight: 800;
  padding:0 1%;
}

.topNames{
  bottom: 25%;
}

.topNames span:last-child{
  left: 135%;
  bottom: 465%;
  position: absolute;
  width: 100%;
}

.bottomNames{
  bottom:10%
}

.bottomNames span:last-child{
  border: red thin solid;
  }

.hero-wrapper{
  color: #FFF;
  display: flex;
}

.teleTextTop {
  width: 50%;
  margin: 16% auto 0;
}

.studentNames{
  width: 50%;
}

.basic-story__content__department-label {
  font-size: 1em;
  color: #fff;
}

.feature__faculty-spotlight {
  margin: 40px 0;
  background-color: rgba(128, 128, 128, 0.2);
}
.feature__faculty-spotlight__wrapper {
  min-height: 300px;
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.feature__faculty-spotlight__item {
  width: 65%;
  height: auto;
}

.feature__faculty-spotlight__item p{
    text-align:left;
    margin-top: 5%;
}

.feature__faculty-spotlight__image-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5% 0 0;
  float: left;
}

.feature__faculty-spotlight__name {
  font-weight: bold;
  margin: 15px 0;
}

.feature__faculty-spotlight__image-wrapper img{
  height: 180px;
  margin-top: -25px;
}

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
  font-size: 2em;
}

.features__hero__overlay {
  width: 50%;
  float: left;
  background-color: #262626;
  padding-bottom: 11.3%;
}

.video iframe {
  width: 88%;
  height: 640px;
}

.video {
  height: 640px;
  width: 88%;
  margin: 1em auto 2.55em;
  text-align: center;
}

.basic-story__story-qoute__qoutation-mark__horizontal-line--bottom, .basic-story__story-qoute__qoutation-mark__horizontal-line--top{
  width: 100%;
}

.basic-story__story-qoute{
  width: 70%;
    margin: 0 auto;
}

.heroCaption{
  margin-bottom: 5%;
}

.mobile{
  display:none;
}
@media (min-width: 900px){
.basic-story__aside {
  margin: 4% 10% 2% 2%;
}
}

@media (max-width:640px){

  .hero-wrapper {
    display: block;
}
  .features__hero__title{
    font-size: 1em;
  }

  .basic-story__story-qoute__qoute {
    width: 100%;
}

  .features__hero__overlay{
    width: 100%;
    float: none;
    color: #FFF;
    padding: 1em;
  }

  .feature__hero__image {
width:100%;
  }

  .teleTextTop {
    width: 95%;
    margin: 0;
}

  .basic-story__content {
    margin: 0;
    width: 95%;
    padding: 0 2%;
}
.basic-story__content__wrapper {
  margin: 0;
  width: auto;
  float: none;
  left: 0;
}

.basic-story__content__image {
  height: auto;
  width: 95%;
  object-fit: cover;
}
.basic-story__content__image-wrapper {
  height: 23em;
}
.basic-story__aside {
  margin: 5% 0 0 4%;
  float: none;
  width: 95%;
  display: block;
  left: 0;
  position: unset;
    top: 0;
    right: 0%;
}

.basic-story__social-share {
  float: none;
  width: 95%;
  margin: 3em 0;
  display: block;
}
.heroCaption{
  display: block;
} 
.video {
  height: auto;
}

.video iframe {
  width: 100%;
  height: 208px;
}
.mobile{
  display: inline;
}
.desktop{
  display:none;
}
}



@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 850px) {

  .hero-wrapper {
    display: block;
}
  .features__hero__title{
    font-size: 1em;
  }

  .basic-story__story-qoute__qoute {
    width: 100%;
}

  .features__hero__overlay{
    width: 100%;
    float: none;
    color: #FFF;
    padding: 1em;
  }

  .feature__hero__image {
width:100%;
  }

  .teleTextTop {
    width: 95%;
    margin: 0;
}

  .basic-story__content {
    margin: 0;
    width: 95%;
    padding: 0 2%;
}
.basic-story__content__wrapper {
  max-width: 100%;

}

.basic-story__content__image {
  height: auto;
  width: 95%;
  object-fit: cover;
}
.basic-story__content__image-wrapper {
  height: 37em;
}
.basic-story__aside {
  margin: 5% 0 0 4%;
  float: none;
  width: 95%;
  display: block;
  left: 0;
  position: unset;
    top: 0;
    right: 0%;
}

.basic-story__social-share {
  float: none;
  width: 95%;
  margin: 3em 0;
  display: block;
}
.heroCaption{
  display: block;
} 
.video {
  height: auto;
}

.video iframe {
  width: 100%;
  height: 420px;
}
.mobile{
  display: inline;
}
.desktop{
  display:none;
}
}

