.basic-story__hero__image{
  height: auto;
}

h3{ 
  font-size: .9em;
}

.feature__hero__image {
  height: auto;
  width: 50%;
  object-fit: cover;
}

.smaller{
  font-size:.8em;
}

.basic-story__content__wrapper{
  position: relative;
  right: 2%;
}

.hero-wrapper{
  background-color: #262626;
  color: #FFF;
}

.basic-story__aside {
  width: 25%;
  margin: 2%;
  position: absolute;
  top: 52%;
  right: 0%;
}

.heroCaption, .basic-story__social-share__title{
  font-size:.8em;
}

.photoSub{
  font-size:.9em;
}

.basic-story__social-share__title{
  font-size: .3em;
  padding-bottom: 1em;
}

.basic-story__by-line{
  height: auto;
  display: contents;
}
.feature__faculty-spotlight {
  margin: 40px 0;
  background-color: rgba(128, 128, 128, 0.2);
}
.feature__faculty-spotlight__wrapper {
  min-height: 300px;
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.basic-story__content__image{
  height: auto;
  width: 608px;
    object-fit: cover;
}

.basic-story__content__image-wrapper{
  height: 28em;
}

.basic-story__content__image-caption{
  left:0;
}

.feature__faculty-spotlight__item {
  width: 65%;
  height: auto;
}

.feature__faculty-spotlight__item p{
    text-align:left;
    margin-top: 5%;
}

.feature__faculty-spotlight__image-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5% 0 0;
  float: left;
}

.feature__faculty-spotlight__name {
  font-weight: bold;
  margin: 15px 0;
}

.feature__faculty-spotlight__image-wrapper img{
  height: 180px;
  margin-top: -25px;
}

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
  font-size: 2em;
}

.features__hero__overlay {
  width: 50%;
 float:left;
}
.teleTextTop{
  width:50%;
  margin:6em auto 0;
}

.basic-story__content__department-label{
  font-size:1em;
  color:#fff;
}

.topText{
    font-size: 1.5em;
}

.basic-story__story-qoute__content, .basic-story__story-qoute__qoutation-mark__horizontal-line--bottom{
  width:auto;
}

.basic-story__story-qoute__qoute{
  font-size:1.2em;
}

.imageFix{
  margin: -.7em;
  height: 0;
}


@media (max-width:640px){
  .features__hero__title{
    font-size: 1em;
  }

  .features__hero__overlay{
    width: 100%;
    float: none;
    color: #FFF;
    padding: 1em;
  }

  .feature__hero__image {
width:100%;
  }

  .teleTextTop {
    width: 100%;
    margin: 0;
}

  .basic-story__content {
    margin: 0;
    width: 95%;
    padding: 0 2%;
}
.basic-story__content__wrapper {
  margin: 0;
  width: auto;
  float: none;
  left: 0;
}

.basic-story__content__image {
  height: auto;
  width: 95%;
  object-fit: cover;
}
.basic-story__content__image-wrapper {
  height: 19em;
}
.basic-story__aside {
  margin: 5% 0 0 4%;
  float: none;
  width: 95%;
  display: block;
  left: 0;
  position: unset;
    top: 0;
    right: 0%;
}

.basic-story__social-share {
  float: none;
  width: 95%;
  margin: 3em 0;
  display: block;
}
.heroCaption{
  display: block;
} 
}

@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 850px) {
  .features__hero__title{
    font-size: 1em;
  }

  .features__hero__overlay{
    width: 100%;
    float: none;
    color: #FFF;
    padding: 1em;
  }

  .feature__hero__image {
width:100%;
  }

  .teleTextTop {
    width: 100%;
    margin: 0;
}

.basic-story__content__wrapper{
  max-width: 100%;
}

  .basic-story__content {
    margin: 0;
    width: 95%;
    padding: 0 2%;
}
.basic-story__content__wrapper {
  margin: 0;
  width: 95%;
  float: none;
  left:0;
}

.basic-story__content__image {
  height: auto;
  width: 95%;
  object-fit: cover;
}
.basic-story__content__image-wrapper {
  height: 34em;
}
.basic-story__aside {
  margin: 5% 0 0 4%;
  float: none;
  width: 95%;
  display: block;
  left:0;
}

.basic-story__social-share {
  float: none;
  width: 95%;
  margin: 3em 0;
  display: block;
}

.basic-story__content__image-caption{
  margin:0;
}

.imageFix{
  line-height: 15em;
  margin: 0;
}
.heroCaption{
  display: block;
} 
.basic-story__content__image-wrapper {
  height: 28em;
}
}

