.basic-story__lead-in {  
  margin-top: -.2em;
  }

  .basic-story__hero__image2{
    /* padding:150px 924px ; */
    background-color: darkgrey;
    
    }
    
    .basic-story__content__image{
      background-color: darkgrey;
      /* padding: 402px 352px; */
    }