.feature__faculty-spotlight {
  margin: 40px 0;
  background-color: rgba(128, 128, 128, 0.2);
}



.reportHide {
  display: none !important;
}

.basic-story__content__wrapper {
  margin: 3% auto;
}

.basic-story__content__description {
  margin: 0;
  width: 100%;
  font-family: "Benton Sans Reg", sans-serif;
  line-height: 1.25em;
  font-size: 1.5em;
}

.basic-story__horizontal-rule--first {
  padding-top: 0;
}
.feature__faculty-spotlight__wrapper {
  min-height: 300px;
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}

.basic-story__by-line {
  border-left: solid 1px gray;
  position: relative;
  font-style: italic;
  font-size: 0.9em;
}

.basic-story__aside {
  margin: 1% 5% 2% 2%;
}

.basic-story__dropcap {
  padding-top: 23px;
}

.orange {
  color: #c7531e;
}

.sideDetails {
  display: block;
  font-size: 0.8em;
}

.feature__faculty-spotlight__item {
  width: 65%;
  height: auto;
}

.feature__faculty-spotlight__item p {
  text-align: left;
  margin-top: 5%;
}

.feature__faculty-spotlight__image-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5% 0 0;
  float: left;
}

.noWrap {
  white-space: nowrap;
}

.basic-story__social-share__social-icons {
  height: 45px;
  overflow: hidden;
}

.feature__faculty-spotlight__name {
  font-weight: bold;
  margin: 15px 0;
}

.feature__faculty-spotlight__image-wrapper img {
  height: 180px;
  margin-top: -25px;
}

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
  font-size: 2em;
}

.features__hero__overlay {
  width: 380px;
  color: #000;
  position: absolute;
  top: 23%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1%;
}

.heroCaption {
  border-left: solid 1px gray;
  margin: 24px auto 20px;
  padding-left: 10px;
  position: relative;
  font-style: italic;
  font-size: 0.9em;
}

.basic-story__content__department-label {
  color: #000;
  font-size: 1em;
}

.topText {
  font-size: 1.5em;
}

.basic-story__hero__image {
  height: auto;
}


.reportMobile{
  margin: 0 0 2em;
  }

@media (max-width:640px){


  .features__hero__title{
      font-size: 1.5em;

  }
  .basic-story__content__description {
    width: 80%;
  }

  .basic-story__content__wrapper {
    width: 95%;
  }

  .basic-story__social-share {
    float: right;
    margin: -3px 0 0 0;
  }

  .features__hero__overlay h2 {
    font-size: 1.1em;
    line-height: 1.2em;
    width: 80%;
  }

  .basic-story__content__department-label {
    font-size: 0.7em;
  }

  .feature__faculty-spotlight__item {
    width: 85%;
  }

  .basic-story__by-line {
    float: none;
  }

  .basic-story__aside {
    display: block;
    margin: 16% 5% 2% 2%;
  }
}

@media (max-width: 599px) {
  .basic-story__content__department-label {
    font-size: 0.8em;
    color: #c7531e;
  }

  .basic-story__aside {
    display: block;
    margin: 30px 7px !important;
  }

  .features__hero__overlay {
    width: 95%;
    margin: 15px auto 0;
    position: unset;
    color: #000;
  }

  .basic-story__hero__image {
    height: 100%;
  }
}

@media (min-width: 600px) {
  .basic-story__hero__image {
    height: 100%;
  }
}

@media(min-width: 600px) and (max-width: 899px) {
  .basic-story__aside {
    margin: 30px auto !important;
  }
}

@media only screen and (min-width: 641px) and (max-width: 897px) {
  .basic-story__content__department-label {
    font-size: 0.5em;
  }
  .features__hero__title {
    font-size: 1em;
  }

  .basic-story__content__description {
    width: 90%;
    line-height: 1em;
    font-size: 1em;
  }
  .basic-story__aside {
    margin: 17% 5% 2% 2%;
  }

  .features__hero__overlay {
    width: 608px;
    margin: 0 auto;
    position: unset;
    color: #000;
  }

  .features__hero__title {
    font-size: 1.5em;
  }

  .basic-story__content__department-label {
    font-size: 0.9em;
    color: #c7531e;
  }

  .features__hero__overlay h2 {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .basic-story__social-share {
    margin: 0 0.8em;
    float: right;
    height: 50px;
  }

  .basic-story__hero__image {
    height: auto;
  }

  .basic-story__by-line {
    float: none;
  }

  .basic-story__aside {
    display: block;
    margin: 0;
  }

  .basic-story__hero-wrapper {
    height: auto;
  }

  .basic-story__content__description {
    width: 70%;
    font-size: 0.9em;
  }

  .basic-story__aside {
    margin: 0% auto;
    width: 608px;
  }

  .basic-story__content {
    margin: 3% auto 0;
  }
}

@media (min-width: 900px) {
  .basic-story__aside {
    margin: 35px 0 0 0;
  }

  .reportMobile {
    display: none;
  }

  .reportHide {
    display: block !important;
    width: 200px;
    margin: 24px 0 20px;
  }

  .basic-story__hero-wrapper {
    height: 430px;
    position: relative;
  }
}

@media only screen and (max-width: 640px) and (min-width: 300px) {
  .basic-story__content {
    width: 100%;
  }
}
/* @media(max-width : 1024px) {
  .features__hero__overlay{
    width: 608px;
    margin:0 auto;
    position: unset;
    color: #000;
  }

  .basic-story__content__department-label {
    color: #c7531e;
  }
} */
@media (min-width: 800px) and(max-width: 1100px) {
  .features__hero__overlay {
    width: 608px;
    margin: 0 auto;
    position: unset;
    color: #000;
  }
  .features__hero__overlay {
    margin-top: 4.5em;
  }
}

@media only screen and (min-width: 640px) and (max-width: 665px) {
  .features__hero__overlay {
    width: 608px;
    margin: 15% auto 0;
    position: unset;
  }

  .features__hero__overlay h2 {
    width: 95%;
  }
}

@media (min-width: 900px) {
  .basic-story__social-share {
    margin: 0 20px 30px 0 !important;
  }
}
