#captionMobile {
  display: block !important;
  width: 90%;
  margin: 0 auto;
}

#captionDesktop {
  display: none !important;;
}

@media(min-width: 900px) {
  #captionMobile {
    display: none !important;;
  }

  #captionDesktop {
    display: block !important;;
  }
}

@media(max-width: 899px) {
  .basic-story__aside {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-around !important;
    margin: 30px 0;
    width: 90%;
  }

  .basic-story__by-line {
    height: max-content !important;
  }

  .basic-story__social-share {
    margin: 0 !important;
  }

  .basic-story__dropcap {
    padding-top: 15px !important;
  }
}
