body{
  background-image: url("imgs/Hero-Left-PivotingPandemic-Research.jpg");
}

.basic-story__lead-in{
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 1em;
}

.feature__hero__image{
  width:50%;
  float:left;  
  background-color: #FFF;
}
.basic-story__content{
  width: 60%;
  float:left;
  background-color: #FFF;
}

.basic-story__social-share__title{
  font-size: .3em;
    margin: 1em auto;
}

.basic-story__social-share{
  float: none;
  height: 50px;
  margin: 0;
}

.basic-story {
  overflow-x: hidden;
  width: 60%;
  margin: 0 auto;
}
@media (min-width: 900px){
.basic-story__aside {
  float: right;
  width: 35%;
  margin: 0;
  flex-direction: column;
}
}

.basic-story__story-qoute__wrapper{
  margin:0 auto;
}

.basic-story__story-qoute__qoutation-mark__horizontal-line--bottom , .basic-story__story-qoute__qoutation-mark__horizontal-line--top{
  z-index: 1;
  width: 90%;
}

.basic-story__story-qoute__qoute{
  font-size: 1.5em;
  width: 70%
}

 .hero-wrapper{
  display: block;
  clear: both;
  height: 50vh;
  width: 100%;
} 

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
  background-color: #FFF;
}

.basic-story__by-line{
  float:none;
  height: auto;
  margin: 2em 0;
}

.features__hero__overlay {
  color: #000;
  margin: 0 auto 0;
}

.basic-story__dropcap{
  position: relative;
}

.basic-story__hero__image {
  height: auto;
}

.basic-story__lead-in {
  text-transform: capitalize;
  margin-top: 0em;
  padding: 0 .1em 0 0;
}

.basic-story__content__image-caption {
  font-size: .8em;
  font-style: italic;
  left: 0;
  width: 100%;
}

.basic-story__content__image-caption i{
  font-size:.7em;
}

@media (max-width:640px){
  h1 {
    line-height: 1.2em;
}
  .features__hero__overlay{
    width: 90%;
  }
  .basic-story__content {
    width: 90%;
    background-color: #FFF;
    float: none;
}
.basic-story {
  overflow-x: hidden;
  width: auto;
  margin: 0 auto;
}

.basic-story__content__image-wrapper{
  margin: 0;
}

.basic-story__content__image{
  width: 90%
}

.basic-story__aside{
  padding: 0 2%;
}

.basic-story__story-qoute__qoute{
  width:100%;
}
}

@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 850px) {
  h1 {
    line-height: 1.2em;
}
  .features__hero__overlay{
    width: 90%;
  }
  .basic-story__content {
    width: 90%;
    float: none;
}
.basic-story {
  overflow-x: hidden;
  width: auto;
  margin: 0 auto;
}

.basic-story__content__image-wrapper{
  margin: 0;
}

.basic-story__content__image{
  width: 60%;
  height: 130%;
}

.basic-story__aside{
  padding: 0 2%;
}
.basic-story__story-qoute__qoute{
  width:100%;
}
.basic-story__content__image-caption {
  font-size: .8em;
  font-style: italic;
  left: 0;
  width: 100%;
  margin: 7em 0 0 0;
}
}