.basic-story__hero {
  display: inline-block;
}

.feature__faculty-spotlight {
  margin: 40px 0;
  background-color: rgba(128, 128, 128, 0.2);
}

.feature__faculty-spotlight__wrapper {
  min-height: 300px;
  max-width: 708px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}


.feature__faculty-spotlight__item {
  width: 70%;
  height: auto;
}

.feature__faculty-spotlight__item p {
  text-align: left;
  font-size: .9em;
}

.basic-story__dropcap{
  padding-bottom: 5%;
}

.feature__faculty-spotlight__image-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 8% 0 0;
  float: left;
}

/* .feature__faculty-spotlight__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  } */

.feature__faculty-spotlight__name {
  font-weight: bold;
  margin: 15px 0;
}

.feature__faculty-spotlight__image-wrapper img {
  height: 180px;
  margin-top: -25px;
}

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
}

.features__hero__overlay {
  width: 26%;
  color: #000;
  position: absolute;

  top: 17%;

  left: 10%;
}

.basic-story__content__department-label {
  color: #000;
  font-size: .7em;
  font-weight: bold;
}

.basic-story__content__department-label span {
  font-weight: normal;
}

.topText {
  font-size: 1.5em;
  line-height: 1.4em;
  padding-top: 1.6em;
}

@media (max-width:748px) {


  .basic-story__aside {
    display: block;
    padding: 0 4%;
  }

  .features__hero__title {
    font-size: 1.5em;
  }

  .features__hero__overlay {
    width: 45%;
    top: 3%;
  
  }

  .basic-story__by-line {
    float: none;
    height: auto;
    margin: 0;
  }

  .basic-story__social-share {
    margin: .2em 0 3em;
    float: none;
}
  }

  .topText {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 2em .5em;
  }

  .basic-story__content__wrapper {
    padding: 0 1em;
  }

  .basic-story__content__department-label {
    font-size: .7em;
  }

  .feature__faculty-spotlight__item {
    width: 85%;
  }


@media (max-width:480px) {

  .features__hero__overlay{
    top: 2%;
    left:3%;
  }
  .basic-story__content__department-label {
    font-size: .7em;
  }

  .features__hero__title {
    font-size: 1em;
  }

  .basic-story__content__wrapper {
    padding: 0 1em;
  }

}

@media only screen and (min-device-width : 800px) and (max-device-width : 850px) {
  body {
    font-size: .9em;
  }

  .basic-story__hero__image {
    height: auto;
  }

  .basic-story__aside {
    display: block;
    padding: 0 3%;
  }

  .basic-story__content {
    padding: 0 .5em;
    width: 90%;
    margin: 2em auto 0;
  }

  .basic-story__by-line{
    float: none;
  }

  .basic-story__content__story__p {
    padding: .8em 0;
  }

  .features__hero__overlay {
    width: 25%;
  }

  .basic-story__social-share{
    float: left;
    margin: 0 2%;
  }

  .basic-story__story-qoute__qoutation-mark__horizontal-line--top{
    width: 90%;
  }

}

@media (min-width:1100px) {
  .features__hero__title {
    font-size: 3em;
  }

  .basic-story__story-qoute__qoute {
    font-size: 2em;

  }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 768px) {
  .features__hero__overlay{
    top: 2%;
  }

  .features__hero__title {
    font-size: 1em;
  }
}

@media (max-width:800px) {

.feature__faculty-spotlight__image-wrapper img{
  height: 160px;
}

.feature__faculty-spotlight__image-wrapper {
  margin: 17% 4% 14% 0;
}

}

@media (max-width:899px) {
  .features__hero__overlay{
    top: 5%;
    width: 35%;
  }
}