.basic-story__lead-in {
    font-size: 1em;
    text-transform: capitalize;
    float: none;
    margin-top: 0em;
    padding: 0 .1em 0 0;
    font-weight: bold;
  }

  .basic-story__hero__image2{
    /* padding:230px 924px ; */
    background-color: darkgrey;
    
    }
    
    .basic-story__content__image{
      background-color: darkgrey;
      /* padding: 402px 352px; */
    }