

.feature__hero__image{
  width:50%;
  float:left;
  
}

 .hero-wrapper{

  display: block;
  clear: both;
  height: 50vh;
  width: 100%;
} 

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
}

.features__hero__overlay {
  width: 30%;
  color: #000;
  margin: -21% 0 0 13%;
  float: left;
}

.feature-content__image-wrapper--portrait{
  width:608px;
}

.feature__social-share__title {
  margin: 1em 0;
  font-size: .3em;
}

@media (min-width: 900px){
.feature__content__image-caption {
  width: 81%;
  font-size: .9em;
  font-style: italic;
}
}

@media (max-width:640px){
  .features__hero__overlay {
    margin: -48em 0 0 .7em;
    width: 90%;
}
.topper{
  margin: 25em auto 0;
}
.feature__content__story{
  width:100%
}
.feature__hero__image {
  width: 100%;
}
.feature__faculty-spotlight__item {
  width: 100%;
  margin: 7%;
}
.feature__social-share {
  margin: -5em 9em 0 0;
}
}

@media (max-height:411px){
.features__hero__overlay {
  top: 0%;
}
}

@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 850px) {
 
  .features__hero__department{
    font-size: .7em;
  }
h2{
  font-size: 1.2em;
}
.feature__content__story{
  width:100%
}
.feature__content__image-wrapper{
  margin: 1em auto;
}
}
