@media (max-width: 899px) {
  .basic-story__content {
    margin: 130px auto 20px !important;
    display: block !important;
  }

  .basic-story__content__wrapper {
    width: 95% !important;
    margin: 0 auto !important;
  }

  .heroCaption {
    font-size: 0.8em !important;
  }
}

@media (min-width: 900px) {
  .basic-story__by-line {
    margin: 20px 0;
  }
}
.feature__faculty-spotlight__name {
  font-weight: bold;
  margin: 15px 0;
}

.feature__faculty-spotlight__image-wrapper img {
  height: 180px;
  margin-top: -25px;
}

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
  font-size: 4em;
}

.features__hero__overlay {
  width: 30%;
  color: #000;
  position: absolute;
  top: 10%;
  left: 10%;
}

.basic-story__content__image-wrapper {
  width: 608px;
}
.topText {
  font-size: 1.5em;
}

.basic-story__content__wrapper {
  width: 100%;
  margin: 32px auto 0;
}
.bottomStory {
  width: 100%;
  margin: 1em 0;
}
.basic-story__content__image-caption {
  left: 0;
  text-align: left;
}

.bottomStory2 {
  position: relative;
  left: -0.1em;
  display: flex;
  margin: 0;
  width: 100%;
}
.bottomStory2 i {
  display: contents;
  line-height: 3em;
  font-size: 0.7em;
}

.basic-story__content__title {
  font-size: 2em;
}

.features__hero__title {
  font-size: 1.5em;
}

.features__hero__overlay {
  width: 35%;
  top: 1%;
  left: 3%;
}

.basic-story__aside {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 94.3%;
  float: right;
  font-size: 0.9em;
}

@media (min-width: 900px) {
  .basic-story__aside {
    display: flex;
    flex-direction: column;
    width: 22%;
  }
}

.basic-story__content {
  margin: 1em auto;
}

.basic-story__content__image-wrapper {
  width: 95%;
  text-align: center;
}

@media(min-width: 600px) {
  .basic-story__content__image-wrapper {
    width: 78%;
  }
}

@media(min-width: 900px) {
  .basic-story__content__image-wrapper {
    width: 70%;
  }
}

.middle {
  width: auto;
  left: 0;
}
.bottomStory {
  float: none;
  width: auto;
  padding-right: 0;
}
.bottomStory2 {
  width: auto;
}

.diySection {
  top: 4em;
}

.basic-story__content__department-label {
  font-size: 0.9em;
}

.feature__faculty-spotlight__item {
  width: 85%;
}

.basic-story__social-share {
  margin: 0 10px 0 0;
}

@media only screen and (min-device-width: 550px) and (max-device-width: 750px) {
  .basic-story__aside {
    display: block;
    margin: 24% 0 0;
    padding: 0 2%;
  }

  .basic-story__social-share {
    margin: 0;
  }

  .basic-story__hero__image {
    height: auto;
  }
}

@media (max-width: 768px) {
  .basic-story__aside {
  }
}

@media only screen and (min-device-width: 770px) and (max-device-width: 850px) {
  body {
    font-size: 0.9em;
  }
  .basic-story__hero__image {
    width: 100%;
    height: auto;
  }

  .basic-story__content__title {
    font-size: 2em;
  }

  .features__hero__title {
    font-size: 1.5em;
  }

  .features__hero__overlay {
    width: 35%;
    top: 1%;
    left: 3%;
  }

  .basic-story__aside {
    display: table-column;
    width: 90%;
    float: right;
    margin-top: 21%;
    padding: 1em;
  }
  .basic-story__content {
    margin: 0 auto;
    display: inline-block;
  }

  .middle {
    width: auto;
    left: 0;
  }
  .bottomStory {
    float: none;
    width: auto;
    padding-right: 0;
  }
  .bottomStory2 {
    width: auto;
  }

  .diySection {
    top: 4em;
  }

  .basic-story__content__department-label {
    font-size: 0.7em;
  }

  .feature__faculty-spotlight__item {
    width: 85%;
  }

  .basic-story__social-share {
    margin: 0;
  }
}

.modal__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(128, 128, 128, 0.7);
  cursor: pointer;
  padding: 20px;
}

.modal__arrow__back,
.modal__arrow__back--slide {
  left: 0;
}

.modal__arrow__next,
.modal__arrow__next--slide {
  right: 0;
}

.modal__arrow__back--slide,
.modal__arrow__next--slide {
  color: white;
}

.basic-story__mask-steps {
  max-width: 608px;
  max-height: 400px;
  width: 100%;
  margin: 5px 0 125px;
}

.basic-story__mask-steps__wrapper {
  display: flex;
  flex-direction: column;
}

.mask-title {
  padding-bottom: 23px;
}

.basic-story__mask-steps__ctas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  padding: 10px 0 20px;
  font-family: "Benton Sans Reg";
  margin: 0 auto;
}

.basic-story__mask-steps__image-wrapper {
  width: 300px;
  /* width: 100%; */
  max-height: 400px;
  margin: 0 auto;
}

.basic-story__mask-steps__image {
  width: 100%;
  object-fit: cover;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 8;
  margin: 40px auto;
}

@media(min-width: 900px) {
  .modal__wrapper  {
    margin: 0 auto;
  }
}

.modal__close {
  color: white;
  font-size: 40px;
  position: absolute;
  float: left;
  top: 50px;
  right: 40px;
  cursor: pointer;
  z-index: 9;
}

.modal {
  /* display: none; */
  height: 80%;
  width: 80%;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  overflow-y: scroll;
  /* z-index: 8; */
}

@media (min-width: 900px) {
  .modal {
    overflow: hidden;
  }
}
.modal__slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 8% auto;
}

.modal__content {
  background-color: rgba(128, 128, 128, 0.2);
  height: 80%;
  width: 80%;
  margin: 8% auto;
}

.modal__slides__image-wrapper {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .modal__slides__image-wrapper {
    width: 40%;
  }
}
.modal__slides__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal__slides__description {
  width: 100%;
  color: white;
  margin: 30px;
  font-size: 18px;
  font-family: "Benton Sans Reg";
  height: max-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (min-width: 900px) {
  .modal__slides__description {
    width: 50%;
    flex-direction: row;
  }
}

.mask-step {
  color: #c7531e;
  font-style: bold;
  padding-right: 10px;
}

.bottom__spacer {
  padding-top: 20px;
}

@media (min-width: 900px) {
  .basic-story__content__image-wrapper {
    margin: 1em auto -1em !important;
  }
}

#mobileCaption {
  display: block;
  width: 87%;
}

#desktopCaption {
  display: none;
}

@media (min-width: 900px) {
  #mobileCaption {
    display: none;
  }

  #desktopCaption {
    display: block;
  }
}

@media (min-width: 900px) {
  #slideEleven, #slideEight {
    margin: 5% auto;
  }
}

.photo-courtesy {
  font-size: 0.85em;
}