* {
  margin: 0;
  padding: 0;
}

body{
  font-size:18px;
  font-family: 'Calluna', serif;
  margin: 0 auto;
  width: 100%;
  line-height: 1.5em;
  overflow-x: hidden;
}

.clear{
  clear: both;
}

.extra{
  margin-bottom:7em;
}

.rust, a{
  color: #c7531e;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h1{
  line-height: 1.2em;
}

/* fonts for page */
@font-face {
  font-family: "GT-Super";
  src: url("../../../fonts/GT-Super-Display-Super.woff");
}

@font-face {
  font-family: "GT-Super-bold";
  src: url("../../../fonts/GT-Super-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "Calluna";
  src: url("../../../fonts/Calluna-Regular-webfont.woff") format("woff");
}

@keyframes slideUp {
  from {
    opacity: 0;
    margin-top: 20%;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    margin-left: -20%;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    margin-right: -20%;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}
.smaller{
  font-size:.8em;
}
.slide-up {
  animation: slideUp 1.5s;
}

.slide-left {
  animation: slideLeft 1.5s; 
}

.slide-right {
  animation: slideRight 1.5s;
}

.basic-story {
  overflow-x: hidden;
}

.basic-story__hero{
  /* display: inline-block; */
}

.basic-story__hero-wrapper {
  height: 30vh;
  width: 100%;
}
.subLead{
  font-family: 'Benton Sans Reg', serif
}

@media(min-width: 900px) {
  .basic-story__hero-wrapper {
    height: 60vh;
  }
}

.basic-story__hero__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.basic-story__hero__overlay {
  position: absolute;
  top: 1%;
  left: 4%;
  height: 300px;
  width: 300px;
  color: black;
  margin: 30px 0 0 30px;
}

@media (min-width: 900px) {
  .basic-story__hero__overlay {
    top: 5%;
    left: 23%;
    width: 400px;
    margin: 0;
  }
}

.basic-story__hero__department {
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .basic-story__hero__department {
    font-size: 28px;
  }
}

.basic-story__hero__title {
  font-family: "GT-Super", serif;
  margin: 10px 0;
}

@media (min-width: 900px) {
  .basic-story__hero__title {
    font-size: 70px;
  }
}

.basic-story__hero__subtitle {
  width: 60%;
}

@media (min-width: 900px) {
  .basic-story__hero__subtitle {
    font-size: 30px;
    width: 100%;
  }
}

.basic-story__lead-in {
  color: #c7531e;
  text-transform: uppercase;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-right: 8px;
}
 

.basic-story__dropcap {
  color: #c7531e;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.basic-story__aside {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* hack for mobile 
@media(max-width: 899px) {
  .basic-story__aside p:first-child {
    display: none;
  }
}*/

.heroCaption{
  font-family: 'Benton Sans Reg', sans-serif;
  font-size: .8em;
}

@media (min-width: 900px) {
  .basic-story__aside {
    float: right;
    width: 20%;
    margin: 2% 5% 2% 2%;
    display: flex;
    flex-direction: column;
  }
}

.basic-story__content {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.basic-story__content__wrapper {
  max-width: 608px;
  margin: 0 auto;
}

.basic-story__content__title {
  margin: 10px 0 0;
  font-family: 'GT-Super', serif;
  font-size: 2em;
}

.basic-story__social-share {
  float: right;
  height: 50px;
  /* width: 140px; */
  margin: 40px 0;
}

.basic-story__social-share__title {
  text-transform: uppercase;
    font-size: .7em;
    font-family: 'Benton Sans Reg';
}

/* [start] social icons */
/* .basic-story__social-share__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

.basic-story__social-share__social-icon {
  font-size: 28px !important;
} */
/* [end] social icons */

/* taken from different stylesheet */
.basic-story__social-share__social-icons {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  line-height: .5;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-size: 2.5em;
  margin: 0;
}

.fb{
  background-image: url(../../../assets/facebook.svg); 
}

.ig{
  background-image: url(../../../assets/instagram.svg); 
}
.in{
  background-image: url(../../../assets/LinkedIn.svg); 
}
.tw{
  background-image: url(../../../assets/twitter.svg); 
}


.basic-story__content__description {
  margin: 10px 0 45px;
  width: 90%;
  font-family: 'Benton Sans Reg', sans-serif;
  line-height: 32px;
  font-size: 1.2em;
}

.basic-story__content__department-label {
  text-transform: uppercase;
  color: #c7531e;
  font-family: 'Benton Sans Reg', sans-serif;
  font-size: .9em;
}

/* [start] by lines */
.basic-story__by-line {
  border-left: 1px solid rgba(128, 128, 128, 0.8);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: auto;
}

.basic-story__by-line__line-wrapper {
  display: flex;
  flex-direction: row;
}

.basic-story__byline__label {
  font-weight: bold;
  font-style: italic;
  padding: 0 8px 0 16px;
  font-size: 0.8em;
}

.basic-story__byline__name {
  font-family: 'Benton Sans Reg', sans-serif;
  font-size: 0.8em;
}

/* [end] by lines */

.basic-story__content__story {
  margin: 10px 0 0; 
}
.basic-story__content__story__p {
  padding: 1em 0;
}


.quote {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 1em;
  font-family: 'Benton Sans Reg';
}

/* [start] image with caption */
.basic-story__content__image-wrapper {
  width: 100vw;
  margin: 1em auto 2em;
}

@media(min-width: 900px) {
  .basic-story__content__image-wrapper {
    width: 100%;
  }
}


.basic-story__rust-bar {
  border-top: solid 8px #c7531e;
  width: 60px;
  position: relative;
  top: -615px;
  left: 203px;
}

.basic-story__content__caption {
  top: -217px;
  margin-bottom: -200px;
  width: 120px;
  color: white;
  font-size: 12px;
  margin-left: 20px;
  font-family: 'Calluna', serif;
  position: relative;
}

@media (min-width: 600px) {
  .basic-story__content__caption {
    top: -326px;
    margin-bottom: -213px;
    width: 231px;
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .basic-story__content__caption {
    top: -600px;
    margin-bottom: -513px;
    margin-left: 200px;
    width: 330px;
    font-size: 32px;
  }
}

.basic-story__content__image {
  width: 100%;
}

.basic-story__content__image-caption {
  border-left: solid 1px gray;
  padding-left: 10px;
  position: relative;
  left:0;

  font-style: italic;
  font-size: .9em;
}

.middle{
  width: 47%;
    margin: 0 auto;
    position: relative;
    left: -3em;
}

.middle i{
  font-size: .7em;
}
/* [end] image with caption */

.basic-story__story-qoute__wrapper {
  margin: 0 auto;
  max-width: 90vw;
}

.basic-story__story-qoute__qoutation-mark {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.qoutation-mark--top {
  font-size: 100px !important; 
  transform: rotate(180deg);
}

.portrait {
  max-width: 608px;
}

.qoutation-mark--bottom {
  font-size: 100px !important;
}

/* [start] story pull qoute */
.basic-story__story-qoute__qoutation-mark--top {
  border-bottom: 10px solid #c7531e;
}

.basic-story__story-qoute__qoutation-mark--bottom {
  border-top: 10px solid #c7531e;
}

.basic-story__story-qoute__qoutation-mark__horizontal-line--bottom {
  border-bottom: 1px solid gray;
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: -5px;
  z-index: -1;
}

@media(min-width: 900px) {
  .basic-story__story-qoute__qoutation-mark__horizontal-line--bottom, .basic-story__story-qoute__qoutation-mark__horizontal-line--top {
    width: 900px
  }
}

.basic-story__story-qoute__qoutation-mark__horizontal-line--top {
  border-top: 1px solid gray;
  margin: 0 auto;
  width: 64%;
  position: relative;
  top: 5px;
  z-index: -1;
}

.basic-story__story-qoute__content {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

@media(min-width: 900px) {
  .basic-story__story-qoute__content {
    width: 800px;
  }
}

.basic-story__story-qoute__qoute {
  width: 100%;
  line-height: 42px;
  text-align: center;
  font-family: 'GT-Super-bold', serif;
}

@media(min-width: 900px) {
  .basic-story__story-qoute__qoute {
    font-size: 40px;
  }
}
/* [end] story pull qoute  */

.basic-story__horizontal-rule {
  border-bottom: solid 1px rgba(128, 128, 128, 0.2);
  width: 90%;
  margin: 0 auto;
}

.basic-story__horizontal-rule--first {
  padding-top: 80px;
}

/* [start] more stories carousel */
.basic-story__more-stories {
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-story__more-stories__title {
  width: 130px;
  font-size: 42px;
}

.basic-story__more-stories__carousel {
  background-color: blue;
  width: 60%;
  height: 300px;
}
/* [end] more stories carousel */

/* [start] subscribe module */
.basic-story__subscribe__wrapper {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  height: auto;
  background-color: white;
}

@media(min-width: 900px) {
  .basic-story__subscribe__wrapper {
    width: 700px;
    height: 500px;
  }
}

.basic-story__subscribe__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 30px 0;
}

@media(min-width: 900px) {
  .basic-story__subscribe__column {
    width: 50%;
    margin: 0;
  }
}

.basic-story__subscribe__content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.basic-story__subscribe__poster-wrapper {
  
  height: 340px;
  width: 300px;
  margin: 0 auto;  
}

.basic-story__subscribe__poster {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.basic-story__subscribe__title {
  font-size: 42px;
}

.basic-story__subscribe__cta {
  max-width: 120px;
  text-align: center;
  background-color: #000000;
  padding: 10px 20px;
  margin: 0 auto;
  color: #fafafa;
  text-decoration: none;
  transition: 0.5s ease;
  font-family: 'Benton Sans Reg', sans-serif;
}

.basic-story__subscribe__cta:hover {
  box-shadow: 0 5px 0 #c7531e inset;
}

.basic-story__subscribe__description {
  padding-bottom: 20px;
  font-family: 'Benton Sans Reg', sans-serif;
}

.basic-story__subscribe__pdf-download {
  color: #c7531e;
  text-decoration: none;
  padding-top: 20px;
  font-family: 'Benton Sans Reg', sans-serif;
}
/* [end] subscribe module */  

.diySection hr{
  width: 60px;
  height: 10px;
  color: #c7531e;
  background-color: #c7531e;
  border: 0;
  margin: 12% 0 3%;
}

.diySection p{
  margin: 2% 0 5%;
  font-family: 'Calluna', serif;
}

.steps{
  color: #c7531e;
  font-family: 'Benton Sans Reg', sans-serif;
}

.video{
  height: 640px;
  width:88%;
  margin: 1em auto 2em;
  text-align: center;
}

.video iframe{
  width:88%;
  height: 640px;
  padding:.5em 0;
}

@media only screen 
and (min-width:300px)
and (max-width:640px){
  .heroCaption{
    display: none;
  }

  .video, .video iframe{
      height:202px;
      width: 100%;
  }
  .basic-story__content{
    width:95%;
  }
}

@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 850px) {
  .heroCaption{
    display: none;
  }
  .video, .video iframe{
    height:360px;
    width: 100%;
}
}