.features__hero__overlay {
  width: 80%;
  position: absolute;
  color: #000;
  margin: 0 auto;
  transform: translateX(-50%);
  top: 13%;
  left: 50%;
}
@media(min-width:900px){
  .features__hero__overlay {
    width: 35%;
    top: 25%;
    left: 30%;
  }
}