* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: min-content;
}

/* fonts for page */
@font-face {
  font-family: "GT-Super";
  src: url("https://www.evms.edu/uploads/13.1/fonts/GT-Super-Display-Super.woff");
}

@font-face {
  font-family: "GT-Super-bold";
  src: url("https://www.evms.edu/uploads/13.1/fonts/GT-Super-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "Calluna";
  src: url("https://www.evms.edu/uploads/13.1/fonts/Calluna-Regular-webfont.woff") format("woff");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

.photo-essay-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 40px !important;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  /* background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%; */
}

@media (min-width: 600px) and (orientation: landscape) {
  .photo-essay-arrow {
    /* position: fixed; */
  }
}

.photo-essay-arrow__next {
  right: 0;
  
}

.photo-essay-arrow__back {
  left: 0;
  margin-left: 10px;
}

.photo-essay {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.photo-essay__intro {
  /* background-image: url(../assets/photo-essay-safetyFirst-1.jpg); */
  background-image: url(./photo-essay-safetyFirst-1.jpg);
  background-size: cover;
  background-position: 35%;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 600px) and (orientation: landscape) {
  .photo-essay__intro {
    height: 600px;
  }
}

@media(min-width: 900px)  {
  .photo-essay__intro {
    background-position: center;
    height: 100vh;
  }
}

.photo-essay__intro__content {
  max-width: 300px;
  position: relative;
  top: 30px;
  left: 30px;
  color: black;
}

@media(min-width: 900px) {
  .photo-essay__intro__content {
    position: relative;
    top: 100px;
    left: 100px;
  }
}

.photo-essay__intro__department {
  text-transform: uppercase;
  font-family: 'Benton Sans Reg';
}

.photo-essay__intro__title {
  font-family: 'GT-Super-bold';
  font-size: 60px;
}

@media(min-width: 900px) {
  .photo-essay__intro__title {
    font-size: 130px;
  }
}

.photo-essay__intro__by-line {
  font-style: italic;
  font-family: 'Benton Sans Reg';
}

.photo-essay__intro__by-line__name {
  text-transform: uppercase;
  font-family: 'Benton Sans Reg';
}

.photo-essay__step-one {
  position: relative;
  bottom: -39%;
  left: 30px;
}

@media(min-width: 900px) {
  .photo-essay__step-one {
    bottom: -30%;
    left: 60%;
  }
}

.photo-essay__step-two {
  position: relative;
  bottom: -15%;
  left: 30px;
}

@media(min-width: 900px) {
  .photo-essay__step-two {
    bottom: -10%;
  }
}

.photo-essay__step-three {
  position: relative;
  bottom: -68%;
  left: 4%;
}

@media(min-width: 900px) {
  .photo-essay__step-three {
    bottom: -73%;
  }
}

.photo-essay__step-four {
  position: relative;
  bottom: -12%;
  left: 5%;
}

@media(min-width: 900px) {
  .photo-essay__step-four {
    left: 56%;
  }
}

.photo-essay__step-one__wrapper,
.photo-essay__step-two__wrapper,
.photo-essay__step-three__wrapper,
.photo-essay__step-four__wrapper {
  background-color: rgb(255, 255, 255, 0.8);
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@media(min-width: 900px) {
.photo-essay__step-one__wrapper,
.photo-essay__step-two__wrapper,
.photo-essay__step-three__wrapper,
.photo-essay__step-four__wrapper {
  width: 100%;
  max-width: 400px;
  height: max-content;
 }
}

.photo-essay__step-one__label,
.photo-essay__step-two__label,
.photo-essay__step-three__label,
.photo-essay__step-four__label {
  padding: 10px 25px;
  background-color: #c7531e;
  position: absolute;
  bottom: 100%;
  font-size: 30px;
  font-family: 'Benton Sans Reg';
  color: #fafafa;
}

.photo-essay__step-one__number, 
.photo-essay__step-two__number,
.photo-essay__step-three__number,
.photo-essay__step-four__number {
  font-family: 'GT-Super-bold';
  width: 20%;
  font-size: 140px;
  display: flex;
  justify-self: center;
  align-self: center;
  color: #c7531e;
  padding: 10px 20px;
  transform: translateY(-13%);
}

.photo-essay__step-one__copy,
.photo-essay__step-two__copy,
.photo-essay__step-three__copy,
.photo-essay__step-four__copy {
  font-size: 18px;
  font-family: "Benton Sans Lt";
  height: 70%;
  justify-self: center;
  align-self: center;
}

.photo-essay__slide-two {
  height: auto;
  width: 100vw;
  background-size: cover;
}


@media(min-width: 900px) {
  .photo-essay__slide-two {
    height: 100vh;
  }
}

.photo-essay__slide-two__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media(min-width: 900px) {
  .photo-essay__slide-two__wrapper {
    flex-direction: row;
  }
}

.photo-essay__content__wrapper {
  /* background-image: url('../assets/photo-essay-safetyFirst-2.jpg'); */
  background-image: url('./photo-essay-safetyFirst-2.jpg');
  background-size: cover;
  background-position: 70%;
  height: 500px;
  width: 100vw;
}

.photo-essay__slide-two__stats {
  height: max-content;
  padding: 30px 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fafafa;
  background-color: rgb(0, 0, 0, 0.8);
}

@media(min-width: 900px) {
  .photo-essay__slide-two__stats {
    width: 40vw;
    height: 100%;
    padding: 0;
  }

  .photo-essay__content__wrapper {
    width: 60vw;
    height: 100%;
  }
}

.photo-essay__slide-two__stats__wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.photo-essay__slide-two__stats__title {
  font-size: 48px;
  font-family: 'GT-Super-bold';
}

.photo-essay__slide-two__stat-one {
  padding: 50px 0 30px;
  height: max-content;
}

.photo-essay__slide-two__stat-two {
  height: max-content;
  padding: 30px 0;
}

.photo-essay__slide-two__stat__p {
  font-size: 18px;
  font-family: 'Benton Sans Reg';
}

.photo-essay__slide-two__stat__number {
  font-size: 80px;
}

.photo-essay__slide-three {
  height: 100vh;
  width: 100vw;
  /* background-image: url(../assets/photo-essay-safetyFirst-3.jpg); */
  background-image: url(./photo-essay-safetyFirst-3.jpg);
  background-size: cover;
  background-position: 69%
}

@media (min-width: 600px) and (orientation: landscape) {
  .photo-essay__slide-three {
    height: 600px;
  }
}

@media(min-width: 900px) {
  .photo-essay__slide-three {
    background-position: center;
    height: 100vh;
  }
}

.photo-essay__slide-four {
  height: 100vh;
  width: 100vw;
  /* background-image: url(../assets/photo-essay-safetyFirst-4.jpg); */
  background-image: url(./photo-essay-safetyFirst-4.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) and (orientation: landscape) {
  .photo-essay__slide-four {
    height: 600px;
  }
}

@media(min-width: 900px) {
  .photo-essay__slide-four {
    height: 100vh;
  }
}