* {
  margin: 0;
  padding: 0;
}

/* fonts for page */
@font-face {
  font-family: "GT-Super";
  src: url("https://www.evms.edu/uploads/13.1/fonts/GT-Super-Display-Super.woff") format("woff");
}

@font-face {
  font-family: "GT-Super-bold";
  src: url("https://www.evms.edu/uploads/13.1/fonts/GT-Super-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "Calluna";
  src: url("https://www.evms.edu/uploads/13.1/fonts/Calluna-Regular-webfont.woff") format("woff");
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .4;
}

.pandemic-landing__virus {
  /* position: absolute; */
  height: 100px;
  width: 100px;
  margin: 0 auto 30px;
}

.pandemic-landing {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  background-color: transparent;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
}

@media (min-width: 900px) {
  .pandemic-landing {
    min-height: 100vh;
    padding-bottom: 0;
  }
}

.pandemic-landing__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: auto;
  width: 100%;
  margin: 20px 0 0 0;
}

@media (min-width: 900px) {
  .pandemic-landing__wrapper {
    height: min-content;
    width: 80%;
    margin: 0;
  }
}

.pandemic-landing__intro {
  height: auto;
  width: 90%;
  min-width: 380px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 15px;
}

@media (min-width: 600px) {
  .pandemic-landing__intro {
    width: 40%;
    text-align: center;
    margin-left: 0;
  }
}

.pandemic-landing__intro__department {
  text-transform: uppercase;
  font-size: 24px;
  color: #c7531e;
  font-family: "Calluna", sans-serif;
  font-weight: bold;
}


.pandemic-landing__intro__title {
  font-size: 60px;
  font-family: "GT-Super", serif;
  color: #1f7f9b;
}

@media (min-width: 900px) {
  .pandemic-landing__intro__title {
    font-size: 5em;
  }
}

.pandemic-landing__content {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin: 40px 0 0 0;
}

@media (min-width: 900px) {
  .pandemic-landing__content {
    width: 60%;
    margin: 0;
    justify-content: space-evenly;
  }
}

.pandemic-landing__content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

@media(min-width: 900px) {
  .pandemic-landing__content-wrapper {
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .pandemic-landing__content-wrapper {
    flex-wrap: nowrap;
  }
}

.pandemic-landing__column {
  display: flex;
  flex-direction: column;
  min-width: 370px;
}

.pandemic-landing__rust-bar {
  border-top: solid 6px #c7531e;
  width: 100px;
  margin-left: 15px;
}

.pandemic-landing__content__headline {
  font-size: 20px;
  margin: 15px;
  font-family: 'Benton Sans Lt';
  font-weight: 100;
}

.pandemic-landing__content__p {
  font-size: 18px;
  margin: 15px;
  font-family: 'Benton Sans Lt';
}

.pandemic-landing__ctas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 0;
}

@media (min-width: 1200px) {
  .pandemic-landing__ctas {
    width: 80%;
    margin: 0 0 0 30px;
  }
}

.pandemic-landing__cta {
  padding: 6px 10px;
  text-decoration: none !important;
  color: black;
  cursor: pointer;
  font-family: 'Benton Sans Reg';
  background: #fafafa;
  transition: 1s all;
}

@media (min-width: 600px) {
  .pandemic-landing__cta {
    padding: 15px 40px;
  }
}


.pandemic-landing__cta:hover {
  background-color: rgb(155, 155, 155, 0.4);
}

.pandemic-landing__cta--education {
  border: #05c3de solid 4px;
}
.pandemic-landing__cta--education:hover {
  border: #05c3de solid 4px;
}
.pandemic-landing__cta--research {
  border: #766a62 solid 4px;
}
.pandemic-landing__cta--research:hover {
  border: #766a62 solid 4px;
}
.pandemic-landing__cta--patient-care {
  border: #cbc46d solid 4px;
}
.pandemic-landing__cta--patient-care:hover {
  border: #cbc46d solid 4px;
}
