* {
  margin: 0;
  padding: 0;
}

/* fonts for page */
@font-face {
  font-family: "GT-Super";
  src: url("https://www.evms.edu/uploads/13.1/fonts/GT-Super-Display-Super.woff") format("woff");
}

@font-face {
  font-family: "GT-Super-bold";
  src: url("https://www.evms.edu/uploads/13.1/fonts/GT-Super-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "Calluna";
  src: url("https://www.evms.edu/uploads/13.1/fonts/Calluna-Regular-webfont.woff") format("woff");
}
canvas{
  visibility: hidden;
}

@media (min-width: 900px){
  canvas{
  visibility: visible;
}
}
body {
  font-size: 16px;
  font-family: 'Calluna', sans-serif;
  line-height: 1.5em;
}

@media (min-width: 600px){
  body {
    font-size: 18px;
}
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .4;
}

.pandemic-landing__virus {
  height: 100px;
  width: 100px;
  margin: 0 auto 30px;
}

.pandemic-landing {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  background-color: transparent;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
}

@media (min-width: 900px) {
  .pandemic-landing {
    min-height: 100vh;
    padding-bottom: 0;
  }
}

.pandemic-landing__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: auto;
  width: 95%;
  margin: 20px 0;
}

@media (min-width: 1200px) {
  .pandemic-landing__wrapper {
    height: min-content;
    width: 90%;
    margin: 0;
    padding: 60px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1800px) {
  .pandemic-landing__wrapper {
    width: 70%;
  }
}

.pandemic-landing__intro {
  height: auto;
  width: 90%;
  min-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 15px auto
}
@media (min-width: 1200px) {
  .pandemic-landing__intro {
    text-align: left;
    margin: 0 0 0 15px;
    width: 40%;
  }
}

.pandemic-landing__intro__department {
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #c7531e;
  font-family: 'Benton Sans Reg', sans-serif;
  font-weight: bold;
  padding: 8px
}
@media (min-width: 900px){
  .pandemic-landing__intro__department {
  text-transform: uppercase;
  font-size: 1.5em;
  }
}


.pandemic-landing__intro__title {
  font-size: 4em;
  font-family: "GT-Super", serif;
  color: #1f7f9b;
  line-height: 1.125em;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .pandemic-landing__intro__title {
    font-size: 4em;
  }
}

@media (min-width: 1800px) {
  .pandemic-landing__intro__title {
    font-size: 5em;
  }
}
.pandemic-landing__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 16px 0 0 0;
  flex-wrap:wrap;
}

@media (min-width: 600px){
.pandemic-landing__content {
  margin: 40px 0 0 0;
  }
}

@media (min-width: 900px) {
  .pandemic-landing__content {
    justify-content: space-between;
    height: 80%;
    flex-direction: row;
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .pandemic-landing__content {
    justify-content: space-between;
    height: 80%;
    flex-direction: row;
    width: 85%;
  }
}

.pandemic-landing__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .pandemic-landing__content-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
   
  }
}

@media (min-width: 1200px) {
  .pandemic-landing__content-wrapper {
    flex-wrap: nowrap;
  }
}

.pandemic-landing__column {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .pandemic-landing__column {
    width: 50%;
    margin: 0 30px;
  }
}
@media (min-width: 1200px){
.pandemic-landing__column-right {
    margin-top: 38px;
}
}

.pandemic-landing__rust-bar {
  border-top: solid 6px #c7531e;
  width: 100px;
  margin: 16px 0;
}

.pandemic-landing__content__headline {
  font-size: 1.25em;
  font-family: 'Benton Sans Lt';
  font-weight: 100;
  margin: 16px auto;
  line-height: 1.5em;
}
@media (min-width: 600px){
.pandemic-landing__content__headline {
  font-size: 1.25em;
}
}

.pandemic-landing__content__p {
  font-family: 'Benton Sans Lt';
  margin: 16px 0;
}

.pandemic-landing__ctas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  align-items:center;
}

@media (min-width: 600px) {
.pandemic-landing__ctas {
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 32px auto;
}
}

@media (min-width: 900px) {
  .pandemic-landing__ctas {
    width: 80%;
  }
  }
@media (min-width: 1800px) {
  .pandemic-landing__ctas {
    width: 60%;
  }
  }

.pandemic-landing__cta {
  padding: 10px 16px;
  text-decoration: none !important;
  color: black;
  cursor: pointer;
  font-family: 'Benton Sans Reg', sans-serif;
  background: #fafafa;
  transition: 1s all;
  font-weight: bold;
  text-align: center;
  min-width: 110px;
  margin: 20px auto;
}

.pandemic-landing__cta--education {
  border: #05c3de solid 4px;
}
.pandemic-landing__cta--education:hover {
  background-color: rgb(5, 195, 222, 0.4);
}

.pandemic-landing__cta--research {
  border: rgb(118, 106, 98) solid 4px;

}
.pandemic-landing__cta--research:hover {
  background-color: rgb(118, 106, 98, 0.4);

}
.pandemic-landing__cta--patient-care {
  border: #cbc46d solid 4px;
}
.pandemic-landing__cta--patient-care:hover {
  background-color: rgb(203, 196, 109, 0.4);

}
