<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="./digital-mag-redesign-layout.css"> -->
  <link href="https://cloud.typenetwork.com/projects/4178/fontface.css/" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./digital-mag-redesign-layout.css">
  <t4 type="media" formatter="css/*" id="149345" />
  <title>
    <t4 type="title" /> - Eastern Virginia Medical School (EVMS), Norfolk, Hampton Roads</title>
</head>

<body>
  <nav class="digital-mag__nav digital-mag__nav--mobile">
    <div class="digital-mag__nav--mobile__wrapper">
      <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/"
        class="digital-mag__nav--mobile__logo__link">
        <figure class="digital-mag__nav--mobile__logo-wrapper">

          <img src="https://www.evms.edu/uploads/13.1/assets/magazine-logo.svg" alt=""
            class="digital-mag__nav--mobile__logo">
        </figure>
      </a>
      <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/subscribe/"
        class="digital-mag__nav--mobile__suscribe-cta">Subscribe</a>
      <div id="mobileIcon" class="digital-mag__nav--mobile__icon">
        <div class="digital-mag__nav--mobile__icon-bar digital-mag__nav--mobile__icon-bar1"></div>
        <div class="digital-mag__nav--mobile__icon-bar digital-mag__nav--mobile__icon-bar2"></div>
        <div class="digital-mag__nav--mobile__icon-bar digital-mag__nav--mobile__icon-bar3"></div>
      </div>
    </div>
    <div id="sideNav" class="digital-mag__nav--mobile__sidenav">
      <div class="digital-mag__nav--mobile__sidenav__wrapper">
        <div class="digital-mag__nav--mobile__sidenav__category"><a
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/from_the_president/"
            class="digital-mag__nav--mobile__features-subnav__list-item__link">From the President</a></div>
        <label id="categoryPivoting" for="" class="digital-mag__nav--mobile__sidenav__category">Pivoting in a
          Pandemic<span id="expandPivotingList" class="material-icons">expand_more</span></label>
        <div id="pivotingList" class="digital-mag__mobile-menu__wrapper">
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">EVMS Confronts COVID-19</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/education/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Education</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/research/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Research</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/patient_care/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Patient Care</a></div>
        </div>
        <label id="categoryFeatures" for="" class="digital-mag__nav--mobile__sidenav__category">Features<span
            id="expandList" class="material-icons">expand_more</span></label>
        <div id="featuresList" class="digital-mag__mobile-menu__wrapper">
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/telehealth/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Community: Telehealth</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/toll_of_social_distancing/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Person: Dr. Mazzurco</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__feature">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/on_the_air/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Profile: Dr. Oldfield</a></div>
        </div>
        <label id="categoryDepartments" for="" class="digital-mag__nav--mobile__sidenav__category">Stories<span
            id="expandDeptList" class="material-icons">expand_less</span></label>
        <div id="departmentsList" class="digital-mag__mobile-menu__wrapper">
          <div id="expandAlumniList"
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <span>Alumni Profile<span id="alumniListIcon" class="material-icons">expand_more</span></span></div>
          <div id="alumniList" class="digital-mag__mobile-menu__wrapper">
            <div class="digital-mag__nav--mobile__sidenav__list-item"><a
                href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/alumni_focus_stowasser/"
                class="digital-mag__nav--mobile__features-subnav__list-item__link">Margaret Stowasser</a></div>
            <div class="digital-mag__nav--mobile__sidenav__list-item"><a
                href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/alumni_focus_kelleher/"
                class="digital-mag__nav--mobile__features-subnav__list-item__link">Maureen Kelleher</a></div>
            <div class="digital-mag__nav--mobile__sidenav__list-item"><a
                href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/alumni_focus_chang/"
                class="digital-mag__nav--mobile__features-subnav__list-item__link">Phillip Chang</a></div>

          </div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/research_grant/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Research</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/diversity_and_inclusion/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Diversity & Inclusion</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/provider_protection/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Community & Outreach</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/my_story/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">My Story</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/photo_essay/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Photo Essay</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/uploads/13.1/assets/covid-19-fund-infographic-accessible.pdf"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Picture This</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/qa_hooper/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Q&A - Dr. Hooper</a></div>
          <div
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/ryans_research_fund/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Your Support</a></div>
          <div id="archives"
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/previous_issues/"
              class="digital-mag__nav--mobile__features-subnav__list-item__link">Archives</a></div>
          <div id="evmsHome"
            class="digital-mag__nav--mobile__sidenav__list-item digital-mag__nav--mobile__sidenav__list-item__departments">
            <a href="https://www.evms.edu/" class="digital-mag__nav--mobile__features-subnav__list-item__link">EVMS
              Home</a></div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="digital-mag__nav digital-mag__nav--desktop">
    <div class="digital-mag__nav--desktop__wrapper">
      <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/" class="digital-mag__nav-desktop__logo__link">
        <img src="https://www.evms.edu/uploads/13.1/assets/magazine-logo.svg" alt="" class="digital-mag__nav--desktop__logo">
      </a>
      <p id="toggleSubnav" class="digital-mag__nav--desktop__magazine-cta">Issue 13.1<span id="subnavIcon"
          class="material-icons">expand_more</span></p>
      <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/previous_issues/"
        class="digital-mag__nav-desktop__archives-link">Archives</a>
      <a href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/subscribe/"
        class="digital-mag__nav--desktop__suscribe-cta">Subscribe</a>
    </div>
    <div id="subnav" class="digital-mag__nav--desktop__subnav">
      <div class="digital-mag__nav--desktop__subnav__wrapper">
        <div id="togglePivotingNav" class="digital-mag__nav--desktop__subnav-dropdown">pivoting in a pandemic<span
            id="pivotingNavIcon" class="material-icons">expand_more</span></div>
        <div id="toggleFeatureNav" class="digital-mag__nav--desktop__subnav-dropdown">features<span id="featureNavIcon"
            class="material-icons">expand_more</span></div>
        <div id="toggleDepartmentNav" class="digital-mag__nav--desktop__subnav-dropdown">stories<span
            id="departmentNavIcon" class="material-icons">expand_more</span></div>
      </div>
    </div>
    <div class="digital-mag__nav--desktop__pivoting-subnav">
      <ul id="pivotingMenu" class="digital-mag__nav--desktop__pivoting-subnav__list">
        <li class="digital-mag__nav--desktop__pivoting-subnav__list-item"><a
          class="digital-mag__nav--desktop__pivoting-subnav__list-item__link"
          href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/">EVMS Confronts COVID-19</a>
      </li>
        <li class="digital-mag__nav--desktop__pivoting-subnav__list-item"><a
            class="digital-mag__nav--desktop__pivoting-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/education/">Education</a>
        </li>
        <li class="digital-mag__nav--desktop__pivoting-subnav__list-item"><a
            class="digital-mag__nav--desktop__pivoting-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/research/">Research</a>
        </li>
        <li class="digital-mag__nav--desktop__pivoting-subnav__list-item"><a
            class="digital-mag__nav--desktop__pivoting-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/pivoting_in_a_pandemic/patient_care/">Patient
            Care</a></li>
      </ul>
    </div>
    <div class="digital-mag__nav--desktop__features-subnav">
      <ul id="featureMenu" class="digital-mag__nav--desktop__features-subnav__list">
        <li class="digital-mag__nav--desktop__features-subnav__list-item"><a
            class="digital-mag__nav--desktop__features-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/telehealth/">Community:
            Telehealth</a></li>
        <li class="digital-mag__nav--desktop__features-subnav__list-item"><a
            class="digital-mag__nav--desktop__features-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/toll_of_social_distancing/">Person:
            Dr. Mazzurco</a></li>
        <li class="digital-mag__nav--desktop__features-subnav__list-item"><a
            class="digital-mag__nav--desktop__features-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/on_the_air/">Profile:
            Dr. Oldfield </a></li>
      </ul>
    </div>
    <div class="digital-mag__nav--desktop__departments-subnav">
      <ul id="departmentMenu" class="digital-mag__nav--desktop__departments-subnav__list">
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/from_the_president/">From
            the President</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/research_grant/">Research</a>
        </li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/diversity_and_inclusion/">Diversity
            & Inclusion</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/provider_protection/">Community
            & Outreach</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/my_story/">My
            Story</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/qa_hooper/">Q&A
            - Dr. Hooper</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/alumni_focus_chang/">Alumni
            Focus: Chang</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/alumni_focus_stowasser/">Alumni
            Focus: Stowasser</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/alumni_focus_kelleher/">Alumni
            Focus: Kelleher</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/photo_essay/">Photo
            Essay</a></li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/uploads/13.1/assets/covid-19-fund-infographic-accessible.pdf">Picture This</a>
        </li>
        <li class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link"
            href="https://www.evms.edu/about_evms/administrative_offices/marketing_communications/publications/13_1/ryans_research_fund/">Your
            Support</a></li>
        <div class="digital-mag__nav--desktop__departments-subnav__list-item"><a
            class="digital-mag__nav--desktop__departments-subnav__list-item__link" href="https://www.evms.edu/"
            target="_blank">EVMS Home</a></div>
      </ul>
    </div>
  </nav>
  <main>
    <!-- main content -->
  </main>
  <footer class="digital-mag__footer">
    <div class="digital-mag__footer__wrapper">
      <a href="https://www.evms.edu/" class="digital-mag__footer__logo__link">
      <img
        src="https://www.evms.edu/media/evms_public/content/style_assets/refresh_2018_style_assets/images/evmsLogoBlue.svg"
        class="digital-mag__logo">
      </a>
      <div class="digital-mag__info">
        <div class="digital-mag__info__line-one"><a href="https://www.evms.edu/about_evms/" target="_blank" class="footer-link">About</a>/<a href="https://www.evms.edu/contact_us/" target="_blank" class="footer-link">Contact</a></div>
        <div class="digital-mag__info__line-two">
          <p>Copyright 2020 Eastern Virginia Medical School</p>
          /&nbsp;<a href="https://www.evms.edu/accessibility/" target="_blank" class="footer-link">Accessibility</a>&nbsp;/&nbsp;<a href="https://www.evms.edu/about_evms/leadership/general_counsel/legal_and_compliance/privacy_policy/" target="_blank" class="footer-link">Privacy</a>&nbsp;/&nbsp;<a href="https://www.evms.edu/about_evms/leadership/general_counsel/legal_and_compliance/terms_of_use/" target="_blank" class="footer-link">Terms of Use</a>
        </div>
      </div>
      <div class="digital-mag__social-icons">
        <a href="https://www.facebook.com/EVMSedu" target="_blank" class="social-link">
          <img src="https://www.evms.edu/uploads/13.1/assets/facebook-EVMS-blue.svg" alt="facebook social icon" class="digital-mag__social-icon">
        </a>
        <a href="https://www.instagram.com/EVMSedu/" target="_blank" class="social-link">
          <img src="https://www.evms.edu/uploads/13.1/assets/instagram-EVMS-blue.svg" alt="instagram social icon" class="digital-mag__social-icon">
        </a>
        <a href="https://www.linkedin.com/school/eastern-virginia-medical-school/" target="_blank" class="social-link">
          <img src="https://www.evms.edu/uploads/13.1/assets/linkedIn-EVMS-blue.svg" alt="linkedin social icon" class="digital-mag__social-icon">
        </a>
        <a href="https://twitter.com/EVMSedu" target="_blank" class="social-link">
          <img src="https://www.evms.edu/uploads/13.1/assets/twitter-EVMS-blue.svg" alt="twitter social icon" class="digital-mag__social-icon">
        </a>
        <a href="https://www.youtube.com/channel/UCfrTPOB5_dYUYZuvL23V7UQ" target="_blank" class="social-link">
          <img src="https://www.evms.edu/uploads/13.1/assets/youTube-EVMS-blue.svg" alt="youtube social icon" class="digital-mag__social-icon">
        </a>
        <a href="https://www.evms.edu/pulse/" target="_blank" class="social-link">
          <img src="https://www.evms.edu/uploads/13.1/assets/pulse-icon.svg" alt="pulse social icon" class="digital-mag__social-icon pulse">
        </a>
      </div>
    </div>
  </footer>
</body>

</html>