.feature__hero__image{
  width:50%;
  float:left;  
}
.basic-story__content{
  width: 50%;
}

 .hero-wrapper{
  display: block;
  clear: both;
  height: 50vh;
  width: 100%;
} 

.features__hero__title {
  font-family: "GT-Super";
  margin: 10px 0;
}

.features__hero__overlay {
  width: 50%;
  color: #000;
  margin: -21% auto 0;
}

.basic-story__dropcap{
  position: relative;
}

.basic-story__hero__image {
  height: auto;
}

.basic-story__lead-in {
  text-transform: capitalize;
  margin-top: 0em;
  padding: 0 .1em 0 0;
}

.basic-story__content__image-caption {
  font-size: .8em;
  font-style: italic;
  padding-right: 13em;
  margin: 0 0 0 .5em;
}

.basic-story__content__image-caption i{
  font-size:.7em;
}

@media (max-width:640px){

  .features__hero__title{
      font-size: 1.5em;
  }
  .features__hero__overlay {
      width: 85%;
        top: 1%;
        left: 3%;
        margin: -45% 0 0 13%;
    }

    .basic-story__content__department-label {
      font-size: .7em;
  }

  .feature__faculty-spotlight__item {
      width: 85%;
  }
}

@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 850px) {
  .features__hero__overlay {
    margin: 0% 0 0 13%;
  }

  .basic-story__hero__image {
    height: 100%;
}
}

@media (max-width:480px){
  .basic-story__content__department-label {
      font-size: .5em;
  }
    .features__hero__title{

      font-size: 1em;
  }
}

@media (max-width:823px){
  .basic-story__content__department-label {
      font-size: .5em;
  }
    .features__hero__title{

      font-size: 1em;
  }
}