@media (min-width: 900px){  
  .q-and-a__hero__title{
    font-size: 1.5em;
  }
}
  .q-and-a__hero__subtitle {
    font-family: 'Benton Sans Reg', sans-serif;
    font-size: 1em;
    width: 70%;
    line-height: 1.5em;
}
  @media (min-width:900px){
    .basic-story__story-qoute__wrapper {
      margin: 0 auto;
      max-width: 65vw;
  }
  }
  .basic-story__aside {
    font-family: 'Benton Sans Reg', sans-serif !important;
    margin: 2% 0;
}
.basic-story__by-line {
  margin: 0 0;
}

.basic-story__byline__label {
  font-weight: bold;
  font-style: italic;
  padding: 0 8px;
  font-size: 0.9em;
}

.basic-story__content__image-wrapper {
  margin: 16px auto;
  width:100%;
}


